<!DOCTYPE html>
<html>
<head>
  <title>Personality Analyzer</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div id="react-container"></div>
  <script src="{{ url_for('static', filename='build/app.js') }}"></script>
  <script src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>
</body>
</html>